body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    color: #313d34;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

body {
	height: 100%;
	width: 100%;
	background-color: #6ea283;
}

#logo {
	margin: 20px auto 0;
	display: block;
	width: 500px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

#menu {
    width: 900px;
    margin: 0 auto;
}

#bar {
    width: 100%;
    height: 40px;
    background-color: #f5a100;
    margin: 30px 0;
}

a, a:visited {
    background-color: #a91919;
    display: inline-block;
    margin: 3px;
    color: #FFF;
    text-decoration: none;
    padding: 3px 20px;
    border-radius: 5px;
    text-transform: uppercase;
}

    a.selected {
        background-color: #610d0d;
    }

.section {
    margin: 20px 0;
    border-bottom: 1px dotted #313d34;
    padding: 0 20px 20px 0px;
}

.ingredient-separator {
    height: 10px;
}

h1 {
    margin-bottom: 40px;
}

.main-button {
    background-color: #f5a100;
    margin-right: 20px;
    font-size: 24px;
    color: #313d34;
    font-weight: bold;
}

#footer {
    position: fixed;
    padding: 13px 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #313d34;
    color: #FFF;
    font-size: 14px;
    line-height: 1;
}

#history {
    width: 900px;
    margin: 0 auto;
    margin-bottom: 150px;
}

.order {
    border-bottom: 1px dotted #313d34;
    padding: 5px 0;
    display: block;
}

.order-date {
    width: 150px;
    text-align: right;
}

.order-summary {
    max-width: 500px;
    text-align: left;
}

#price {
    font-size: 30px;
    margin-right: 10px;
}